NEXT_PUBLIC_APP_NAME=Successive AI Assistant
# SUCCESSIVE_API_BASE_URL=http://localhost/wptheme-successive/wp-json/successive-digital/v1
# SUCCESSIVE_API_BASE_URL=https://successive.tech/wp-json/successive-digital/v1
SUCCESSIVE_API_BASE_URL=https://staging-c72c-manishmall6981199795-gbdoy.wpcomstaging.com/wp-json/successive-digital/v1
SUCCESSIVE_PUBLIC_SITE_URL=https://staging-c72c-manishmall6981199795-gbdoy.wpcomstaging.com
AI_PROVIDER=nvidia
AI_MODEL=meta/llama-3.1-8b-instruct
AI_BASE_URL=https://integrate.api.nvidia.com/v1
AI_API_KEY=
ALLOWED_ORIGINS=http://localhost:3000,https://staging-c72c-manishmall6981199795-gbdoy.wpcomstaging.com
WIDGET_ALLOWED_ORIGINS=http://localhost:3000,https://staging-c72c-manishmall6981199795-gbdoy.wpcomstaging.com
NEXT_PUBLIC_CHAT_API_URL=/api/chat
